.services .slick-slider.slick-initialized .slick-list {
  padding-bottom: 40px !important;
}

.services .slick-slider.slick-initialized .card-container {
  overflow: hidden;
  /* max-width: 24rem; */
  max-width: 18.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.services .slick-slider.slick-initialized .card-container:focus {
  outline: 0;
}

/* for the next/image bottom padding bug */
/* .services .card-container img {
    position: relative;
    background: #333;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    z-index: 1;
  } */

/* tweak for the next/image bottom padding bug */
.card-container .card .face.face1 .content > div:first-child {
  display: block !important;
}

.services .card-container img {
  width: 100%;
  max-width: 100%;
  /* height: auto; */
}

.services .card-container .card-text {
  background: #fff;
  padding: 1rem 1.5rem;
  height: 280px;
}

.card-title {
  text-align: center;
  color: black;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.625;
  line-height: 1.45rem;
}

.main-container .content-wrap .services .card-container p {
  margin: 0;
  padding: 0;
  /* font-size: 14px;
  font-size: 1rem; */
  font-size: 0.95rem;
}

@media (max-width: 351px) {
  /* if I want some of these to take effect (even if it's within a media query), then I also need to use the same number of css class selectors as the original css that I want to target. If I use less css classes, then the css here won't work because the more specific one (the one with the most number of class selectors) will take greater precedence. 
  - e.g.: `.services .card-container .card-text` is more specific & has higher precedence than just `.card-text`.
  */
  .services .card-container .card-text {
    padding: 1rem 1rem;
  }

  .main-container .content-wrap .services .card-container p {
    line-height: 1.45rem;
  }
}

@media (max-width: 355px) {
  .card-title {
    margin-bottom: 0.25rem;
  }
}

@media (max-width: 320px) {
  .services .slick-slider.slick-initialized .card-container {
    max-width: 16rem;
  }

  .services .card-container .card-text {
    padding: 0.75rem;
  }

  .card-title {
    line-height: 1.4rem;
    margin-bottom: 0.3rem;
  }

  .main-container .content-wrap .services .card-container p {
    font-size: clamp(0.9375rem, 0.94375rem, 0.95rem);
    line-height: 1.3rem;
  }
}
