/* A CSS Reset will be first before this file code (it's imported above this file in the index.js file) */

// This mixin is for the media query for mobile phones
// bp means breakpoint
@mixin bp-devices {
  @media (max-width: 767px) {
    @content;
  }
}

//
// @mixin responsive-form {
//   @media (min-width: 940px) {
//     @content;
//   }
// }

// calculated aspect ratio for the sample video (need to do that per each video)
@mixin min-video-ratio {
  @media (min-aspect-ratio: 16/9) {
    @content;
  }
}

@mixin max-video-ratio {
  @media (max-aspect-ratio: 16/9) {
    @content;
  }
}

.main-container {
  // border: 1px solid black;
  position: relative;
  min-height: 100vh;

  .scroll-to-top {
    z-index: 99999;
    position: fixed;
    will-change: transform;
    right: 3%;
    top: 82%;
    // opacity: 0.5;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 50px;
    transition: background-color 0.3s ease-in-out;
    div {
      svg {
        position: absolute;
        top: 20.5%;
        left: 20.5%;
        height: 29px;
        width: 29px;
        margin: 0 auto;

        polyline {
          stroke: #e5e5e4;
          stroke-width: 2px;
          display: block;
        }
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  header {
    background-color: rgb(229, 229, 228);
    height: 260px;
    position: relative;
    z-index: 2;

    a.logo {
      display: inline-block;
      margin-left: 50%;
      transform: translateX(-50%);

      img {
        height: 80px !important;
        width: 195px !important;
        margin-top: 45px !important;
        margin-bottom: 11px !important;
        min-height: auto !important;
      }
    }

    div.title {
      text-align: center;
      display: block;
      margin-bottom: 21px;

      p {
        line-height: 1.41em;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-family: "Barlow";
        font-weight: 500;

        a {
          color: rgb(25, 25, 25);
          text-decoration: none;
        }
      }
    }

    .horizontal-line {
      border-top: 1px solid black;
      margin: 0 10%;
    }

    .nav-menu {
      text-align: center;
      height: 30px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;

      @include bp-devices {
        .hamburger-react {
          position: absolute !important;
          top: 50px;
          right: 10px;
          z-index: 10;
        }
      }

      ul {
        list-style: none;
        display: inline-block;
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;

        @include bp-devices {
          background-color: rgb(229, 229, 228);
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          flex-direction: column;
          height: 100vh;
          z-index: 9;
        }

        li {
          float: left;
          padding: 0 10px;

          a {
            text-decoration: none;
            color: rgb(25, 25, 25);

            p {
              font: normal normal normal 14px/1.79em "nutino", sans-serif;
              line-height: 30px;
              font-weight: 300;

              @include bp-devices {
                font-size: 20px;
                line-height: 1.67em;
              }
            }
          }

          @include bp-devices {
            width: 180px;
            height: 50px;
            padding: 0;
            margin: 0 auto;
          }
        }
      }
    }
    // Header End
  }

  .content-wrap {
    /* This'll be the height of the footer */
    // padding-bottom: 220px;
    font-size: 20px;
    // background-color: #e5e5e4;

    .welcome {
      height: 560px;
      max-height: 560px;
      position: relative;
      width: 100%;
      color: #e5e5e4;
      overflow: hidden;
      z-index: 1;

      // for responsive next/image, but the props were enough
      // .image-container {
      //   width: 100%;

      //   > div {
      //     position: unset !important;
      //   }

      //   .mobileBackgroundImage {
      //     object-fit: contain;
      //     width: 100% !important;
      //     position: relative !important;
      //     height: unset !important;
      //   }
      // }

      // .mobileBackgroundImage {
      //   // position: relative !important;
      //   object-fit: cover;
      //   object-position: center;
      //   background-repeat: no-repeat;
      //   max-width: 100%;
      //   min-height: 100%;
      //   z-index: 1;
      // }

      .opacity-layer {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
      }

      .video-layer {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        position: relative;

        img,
        video,
        canvas {
          // responsive images,video and canvas elements
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
        }
      }

      .title-wrapper {
        position: absolute;
        top: 0;
        left: 14%;
        left: 50%;
        max-width: 640px;
        z-index: 99999999;
        width: 100%;

        h1 {
          position: relative;
          left: -50%;
          z-index: 99999999;
          text-align: center;
          margin-top: 150px;
          margin-bottom: 30px;
          line-height: 1.25em;
          font-size: 72px;
          // padding: 0 2%;
          @media screen and (max-width: 629px) {
            font-size: 10.5vw;
          }
        }

        .text-wrapper {
          position: relative;
          left: -50%;
          p {
            text-align: center;
            line-height: 1.67em;
            font-size: 20px;
          }
        }
      }

      // Welcome serction end
    }

    .about {
      background-color: #e5e5e4;
      overflow: auto;
      position: relative;
      z-index: 2;

      .about-details {
        color: black;
        h2 {
          margin-top: 122px;
          margin-bottom: 42px;
          font-size: 40px;
          text-align: center;
          line-height: 1.35em;
          font: normal normal normal 40px/1.35em "barlow", sans-serif;
          font-weight: 500;
        }

        p {
          width: 780px;
          font: normal normal normal 18px/1.75em "Nunito", sans-serif;
          margin: 0 auto 32px auto;
          text-align: center;
          line-height: 1.75em;
          font-size: 18px;
          font-weight: 100;

          @media screen and (max-width: 780px) {
            padding: 0 2%;
            width: auto;
          }
        }
      }

      .about-img {
        width: 100%;
        height: 575px;
        background-image: url("/images/AboutImage.jpg");
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        object-position: 50% 50%;

        /* Small Devices, Tablets */
        //     @media only screen and (max-width : 768px) {
        //       background-attachment: scroll;
        //     }

        //     @media only screen and (min-width: 1024px) and (max-height: 1366px)
        //     and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
        //       background-attachment: scroll;
        //       width: 100%;
        //         height: 575px;
        //         background-position: center;
        //         background-repeat: no-repeat;
        //         background-size: cover;
        //         object-fit: cover;
        //         object-position: 50% 50%;
        // }

        // @media (hover: none) {
        //   background-attachment: scroll;
        //   width: 100%;
        //     height: 575px;
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     background-size: cover;
        //     object-fit: cover;
        //     object-position: 50% 50%;
        // }

        // /* Landscape */
        // @media screen
        //   and (device-width: 360px)
        //   and (device-height: 640px)
        //   and (-webkit-device-pixel-ratio: 4)
        //   and (orientation: landscape) {
        //     background-attachment: scroll;
        //     width: 100%;
        //       height: 575px;
        //       background-position: center;
        //       background-repeat: no-repeat;
        //       background-size: cover;
        //       object-fit: cover;
        //       object-position: 50% 50%;
        // }
      }

      //about end
    }

    .services {
      height: 920px;
      width: 100%;
      overflow: hidden;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      z-index: 2;
      background-color: #e5e5e4;

      h2 {
        margin: 122px auto 32px auto;
        text-align: center;
        line-height: 1.35em;
        font: normal normal normal 40px/1.35em "barlow", sans-serif;
        font-weight: 500;
        font-size: 40px;
        height: auto;
        grid-area: 1 / 1 / 2 / 2;
      }

      p {
        text-align: center;
        font: normal normal normal 18px/1.75em "Nunito", sans-serif;
        font-weight: 100;
        line-height: 1.875em;
        font-size: 18px;
        margin-bottom: 10px;
      }

      /* Button styling start */
      .slick-slider {
        &.slick-initialized {
          .btn {
            z-index: 999999;
            border-radius: 50%;
            position: absolute !important;
            background-color: rgba(0, 0, 0, 0.5);
            transition: background-color 0.3s ease-in-out;
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            cursor: pointer;

            /* slick svg buttons start */
            .slick-arrow {
              stroke: #e5e5e4;
              height: 29px;
              width: 29px;
              stroke-width: 2px;
              margin: 0px 9.5px;

              &.slick-prev,
              &.slick-next {
                position: inherit;
                top: initial;
                -webkit-transform: inherit;
                -ms-transform: inherit;
                transform: inherit;
              }
            }
            &.left-btn {
              /* left: 47px; */
              left: calc(4.5%);
              /* top: 46%; */
              top: 43%;

              .slick-prev {
                left: 0;
              }
            }

            &.right-btn {
              /* right: 47px; */
              right: calc(4.5%);
              /* bottom: 43.69%; */
              bottom: 46.9%;

              .slick-next {
                transform: rotate(180deg);
                right: 0;
              }
            }

            &:hover {
              background-color: rgba(0, 0, 0, 0.8);
            }

            /* slick svg buttons end */
          }
          /* Button styling end */
        }

        .slick-track {
          padding-top: 50px;

          .slick-slide {
            > div {
              display: grid;
              place-items: center;
              width: 100%;
              margin: auto;
              padding: 0px;
            }
          }
        }
      }

      /* services end */
    }

    .gallery-component {
      position: relative;
      z-index: 2;
      display: grid;
      height: 1020px;
      height: auto;
      width: 100%;
      min-height: auto;
      grid-template-rows: 1fr;
      grid-template-columns: 100%;
      .gallery-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap: 0.6rem;
        background-color: #e5e5e4;

        // show 3 images in a row
        @media (max-width: 1200px) {
          grid-template-columns: repeat(3, 1fr);
        }

        // show 2 images in a row
        @media (max-width: 839px) {
          grid-template-columns: repeat(2, 1fr);
        }

        // show 1 image in a row
        @media (max-width: 650px) {
          grid-template-columns: repeat(1, 1fr);
        }

        img {
          max-width: 100%;
          min-height: 354px;
          cursor: pointer;
          filter: brightness(100%);
          // transition: filter 0.6s ease !important;
          transition: filter 1s ease !important;

          &:hover {
            filter: brightness(50%) !important;
          }
        }
      }
      .btn-container {
        width: 100%;
        background-color: rgb(229, 229, 228);
        text-align: center;
        // border: 1px solid black; // for testing
        line-height: 138px;
        button {
          cursor: pointer;
          font: normal normal normal 18px/1.75em "barlow", sans-serif;
          color: rgba(0, 0, 0, 0.9);
          padding: 11px 29px;
          background: rgb(229, 229, 228);
          border-width: 1px;
          padding: 11px 29px;
          border-radius: 0;
          border-color: black;
          &:focus,
          &:active {
            outline: none;
          }
        }
      }
      // gallery end
    }

    .testimonials {
      position: relative;
      z-index: 2;
      height: 441px;
      max-height: 441px;
      width: 100%;
      background-color: rgb(229, 229, 228);
      // border: 5px solid blue; // for development
      overflow: hidden;
      // border-top: 1px solid; // for development

      .nextButton,
      .prevButton {
        background-color: rgb(229, 229, 228);
        cursor: pointer;
        position: absolute;
        top: 50%;
        padding: 0;
        width: 29px;
        height: 29px;
        color: black;
        transition: 0.6s ease;
        border: none;
        user-select: none;

        &:active,
        &:focus {
          outline: none;
          border: none;
        }

        // when the mobile nav menu activates for small devices, hide the carousel buttons
        @include bp-devices {
          display: none;
        }
      }

      .nextButton {
        right: 0;
        margin-right: 4.5%;
      }
      .prevButton {
        margin-left: 4.5rem;
        margin-left: 4.5%;
      }

      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        height: auto;
        min-height: 175px;
        width: 75%;
        margin-inline: auto;

        .wrapper {
          position: relative;
          height: 100%;
          color: black;

          .ri-double-quotes-r {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 33px;
            margin-top: 10px;
          }
          p {
            font: normal normal normal 15px/1.875em "Nunito", sans-serif;
            text-align: center;
            line-height: 1.875em;
            font-size: 15px;
            margin-bottom: 31px;
            max-width: 745px;
          }

          h2 {
            font: normal normal normal 18px/1.75em "Nunito", sans-serif;
            font-weight: 100;
            text-align: center;
            line-height: 1.75em;
            font-size: 18px;
          }
        }
      }

      .dots-container {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 30px;

        span {
          height: 20px;
          width: 20px;
          margin: 0 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &::before {
            content: "";
            height: 6px;
            width: 6px;
            background-color: rgb(229, 229, 228);
            border: 1px solid black;
            border-radius: 50%;
            transition: background-color 0.3s ease;
            position: absolute;
          }
          &:hover::before {
            background-color: black;
          }
        }

        .active::before {
          background-color: black;
        }
      }
    }

    .contactUs-section {
      height: 1390px;
      width: 100%;
      background-color: #e5e5e4;
      position: relative;
      z-index: 2;

      .non-parallax-container {
        > div {
          position: unset !important;

          .non-parallax-next-img {
            width: 100% !important;
            height: 560px !important;
            position: unset !important;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            object-position: 50% 50%;
            margin-bottom: 57px !important;
          }
        }
      }

      .parallax-img {
        width: 100%;
        height: 560px;
        margin-bottom: 57px;
        background-image: url("/images/formImage.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        object-position: 50% 50%;
      }

      .form-title {
        h2 {
          font-family: "Barlow";
          font-size: 40px;
          line-height: 1.35em;
          // font: normal normal normal 40px/1.35em "Barlow", sans-serif;
          font-weight: 500;
          color: black;
          margin: 0 0 30px 0;
          text-align: center;
        }
      }

      .form-subtitle {
        margin-bottom: 3px;
        text-align: center;

        p {
          font-weight: 100;
          font-size: 0.9377rem;
          font-family: "Barlow", sans-serif;
          line-height: 1.875em;
          color: #1e2025; // --color-15
          padding: 0 5px;
        }
      }

      .form-container {
        text-align: center;
        overflow: hidden;

        form {
          margin: 0 auto;
          width: 940px;
          height: 620px;
          max-width: 100%;
          padding: 0 5px;

          div {
            &:nth-of-type(3) {
              // email div
              display: flex;
              float: left;
              // width: 465px;
              width: calc(50% - 5px);
              max-width: 465px;

              input {
                max-width: 100%;
              }
            }
            &:nth-of-type(4) {
              // phone div
              display: flex;
              // width: 465px;
              max-width: 465px;
              width: calc(50% - 5px);
              float: right;

              input {
                max-width: 100%;
              }
            }
            &:not(:nth-of-type(5)) {
              // come back to this (needs correcting
              margin-bottom: 10px;
            }
          }
          .inputs {
            font: normal normal normal 15px/1.875em "Barlow", sans-serif;
            font-weight: 100;
            background-color: #e5e5e4;
            text-overflow: ellipsis;
            width: 100%;
            height: 58px;
            padding: 3px 3px 3px 12px;
            border-width: 0px 0px 1px 0px;
            outline: 0;

            &:hover {
              border-width: 1px 1px 1px 1px;
            }

            &:focus {
              outline: none;
            }
          }

          .textArea {
            margin-bottom: 44px;
            textarea {
              resize: none;
              height: 191px;
              padding: 3px 10px 3px 12px;
              width: 100%;
            }
          }

          .btn {
            margin-bottom: 32px;
            text-align: center;
            transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
            button {
              all: unset;
              width: 195px;
              height: 70px;
              font: normal normal normal 18px/1.75em "Barlow", sans-serif;
              font-weight: 100;
              color: #fff;
              background-color: rgb(30, 32, 37);
              cursor: pointer;
              transition: border-color 0.4s ease 0s,
                background-color 0.4s ease 0s;
              box-shadow: none;

              &:focus {
                outline: none;
                transition: border-color 0.4s ease 0s,
                  background-color 0.4s ease 0s;
              }

              &:hover {
                background-color: rgba(30, 32, 37, 0.5);
                border: none;
                transition: border-color 0.4s ease 0s,
                  background-color 0.4s ease 0s;
              }
            }
          }

          .fadeOut {
            animation: fade-in-keyframes 4s ease-in 0.1s forwards;
            // visibility: visible !important;
          }

          .btn-msg {
            margin-bottom: 24px;
            p {
              font: normal normal normal 18px/1.75em "playfair display", serif;
              text-align: center;
              font-size: 18px;
              color: rgb(30, 32, 37);
            }
          }
          @keyframes fade-in-keyframes {
            from {
              opacity: 1;
            }
            to {
              opacity: 0;
            }
          }
        }

        ul {
          li {
            float: left;
            display: block;
            width: 100%;
          }
        }

        .error-span {
          color: red;
          float: left;
          display: block;

          @include bp-devices {
            font-size: 14px;
          }
        }
      }

      //quote section end
    }

    // content-wrap end
  }

  .main-footer {
    height: 100%;
    position: relative;
    z-index: 2;
    padding: 120px 0 80px 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #e5e5e4;

    p {
      margin: 0 0 10px;
    }

    a {
      color: black;
      text-decoration: none;
    }

    .footer-container {
      position: relative;
      z-index: 10;
      padding-right: 15px;
      padding-left: 15px;

      .footer-row {
        margin-left: -15px;
        margin-right: -15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        // align-items: stretch;
        // align-content: stretch;

        .column {
          padding: 0 15px;

          &.column1 {
            width: 40%;

            .sidebar-theme img {
              display: block;
              max-width: 100%;
              height: auto;
              padding-left: 20px;
            }

            .footer-text {
              font-size: 16px;
              line-height: 30px;
              margin-top: 30px;
              padding: 0 11px 0 20px;
            }
          }

          &.column2,
          &.column3 {
            width: 30%;
          }
        }
      }

      .footer-sidebar {
        margin-bottom: 30px;

        .widget-title {
          padding: 0;
          margin-top: 0;
          margin-bottom: 10px;
          text-align: left;
          font-size: 20px;
          line-height: 20px;
          letter-spacing: 0.5px;
        }

        .menu {
          margin: 28px 0 0;
          padding: 0;
          list-style-type: disc;
          list-style-position: inside;

          .menu-item {
            list-style: none;
          }
        }

        & ul li a {
          line-height: 30px;
        }
      }

      .additional-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        border-top: 1px solid black;
        margin-top: 48px;
        padding: 48px 0 0 20px;

        .footer-sidebar {
          margin-bottom: 30px;

          p {
            margin: 0 0 10px;
          }
        }
      }
      // .container for footer end
    }

    // .main-footer for footer end
  }

  // .main-container for whole website end
}

// X-Small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {
// }

// Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
// @media (max-width: 1399.98px) { ... }
