.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(229, 229, 228, 1);
    display: flex;
    flex-direction: column;
  }
  
  .open {
    /* height: 100vh; the height from the modal-container will work instead */
    position: fixed;
    will-change: transform;
    z-index: 11;
    overflow: hidden;
  }
  
  .modal-container .slider {
    margin: auto;
    display: flex;
  }
  
  .modal-container .slider .btn {
    cursor: pointer;
    outline: none;
    /* border: none; */
    border: 1.5px solid black;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
    /* color: rgb(229, 229, 228); */
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 50px);
    z-index: 999999;
    width: 28px;
    height: 28px;
  }
  
  .modal-container .slider .btn:hover {
    /* background-color: rgba(229, 229, 228, 0.3); */
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: 1.5px solid rgb(229, 229, 228);
    transition: background-color 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
    stroke: rgb(229, 229, 228);
    fill: rgb(229, 229, 228);
  }
  
  .modal-container .slider .btn:hover svg path {
    stroke: rgb(229, 229, 228);
    transition: stroke 0.5s ease-in-out;
  }
  
  /* .modal-container .slider .btn:visited {
  border: 1.5px solid black;
  }
  
  .modal-container .slider .btn:visited svg path {
  stroke: black;
  } */
  
  .modal-container .slider .btn:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .modal-container .slider .btn svg path {
    stroke-width: 1.5px;
    /* stroke-width: 3px; */
  }
  
  /* .modal-container .slider .btn svg path:hover {
    stroke: rgb(229, 229, 228);
  } */
  
  .modal-container .slider .prev {
    /* padding: 36px; */
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: rgba(229, 229, 228, 1); */
    left: 4.5%;
  }
  
  /* .modal-container .slider .prev:hover {
    background-color: rgba(229, 229, 228, 0.3);
    border-radius: 50%;
    transition: background-color 0.3s ease;
  } */
  
  .modal-container .slider .btn.disable-btn {
    background-color: hsla(0, 0%, 100%, 0.5);
    pointer-events: none;
    cursor: default;
    filter: opacity(50%);
    padding: 36px;
    width: 100px;
    height: 100px;
  }
  .modal-container .slider .btn.prev.disable-btn {
    left: 0;
  }
  .modal-container .slider .btn.next.disable-btn {
    right: 0;
  }
  .modal-container .slider .next {
    /* padding: 36px; */
    /* width: 100px;
    height: 100px; */
    /* background-color: rgba(229, 229, 228, 1); */
    right: 4.5%;
  }

  .modal-container .slider .btn {
    width: 50px;
    height: 50px;
  }
  
  /* .modal-container .slider .next:hover {
    background-color: rgba(229, 229, 228, 0.3);
    border-radius: 50%;
    transition: background-color 0.3s ease;
  } */
  
  .modal-container .slider .image-wrapper {
    width: auto;
    height: auto;
  } 

  #ModalImage {
    width: 706px;
    height: 704px;
  }

  /* Styling for the fullscreen api */
  #ModalImageDiv:fullscreen {
    /* background-color: rgba(229, 229, 228, 1); */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #ModalImageDiv:-webkit-full-screen {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #ModalImageDiv:-moz-full-screen {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container .nav-container {
    /* margin-top: 30px; */
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 4.5%;
  }
  
  /* Don't show the fullscreen button on devices smaller than a laptop */
  .nav-container .hide {
    visibility: hidden;
    pointer-events: none;
  }
  
  .nav-container .fullscreen-wrapper button {
    /* height: 44px;
    width: 38px; */
    left: 4.5%;
    background-color: transparent;
    /* border: none; */
    outline: none;
    color: white;
    cursor: pointer;
    /* margin-left: 35px; */
  }
  
  /* .nav-container .fullscreen-wrapper button:hover {
    background-color: rgba(229, 229, 228, 0.3);
    border-radius: 50%;
    transition: background-color 0.3s ease;
  } */
  
  .nav-container .fullscreen-wrapper button .GrExpand path {
    stroke-width: 1.19px;
    /* stroke-width: 3px; */
    /* stroke: rgb(229, 229, 228); */
  }
  
  .exit-wrapper button {
    /* height: 44px;
    width: 38px; */
    right: 4.5%;
    background-color: transparent;
    /* border: none; */
    outline: none;
    color: white;
    cursor: pointer;
    /* margin-right: 30px; */
  }
  
  .nav-container button {
    position: absolute;
    height: 50px;
    width: 50px;
    /* border: 1.5px solid black; */
    border: 1.5px solid rgb(229, 229, 228);
    /* border: none; */
    border-radius: 50%;
  }
  
  .nav-container button:hover {
    /* background-color: rgba(229, 229, 228, 0.3); */
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: 1.5px solid rgb(229, 229, 228);
    transition: background-color 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
    stroke: rgb(229, 229, 228);
    fill: rgb(229, 229, 228);
  }
  
  /* .exit-wrapper button:hover {
    background-color: rgba(229, 229, 228, 0.3);
    border-radius: 50%;
    transition: background-color 0.3s ease;
  } */
  
  .exit-wrapper button .GrClose path {
    stroke-width: 1.5px;
    /* stroke-width: 3px; */
    /* stroke: rgb(229, 229, 228); */
  }
  
  .nav-container button:hover svg path {
    stroke: rgb(229, 229, 228);
    transition: stroke 0.5s ease-in-out;
  }
  
  @media (max-width: 650px) {
    .modal-container .slider .btn {
      border: 1.5px solid rgb(229, 229, 228);
    }
  
    .modal-container .slider .btn svg path {
      stroke: rgb(229, 229, 228);
    }
  
    /* .modal-container .slider .btn:hover {
      background-color: rgba(0, 0, 0, 0.3);
      border: 1.5px solid black;
      stroke: black;
      fill: black;
    } */
  
    .modal-container .slider .btn:hover svg path {
      stroke: black;
    }
  
    .modal-container .slider .image-wrapper img {
      pointer-events: none;
    }
  
    .nav-container .fullscreen-wrapper button .GrExpand path {
      stroke: rgb(229, 229, 228);
    }
  
    .exit-wrapper button .GrClose path {
      stroke: rgb(229, 229, 228);
    }
  }
  